<% include ./partials/header %>

<div class="jumbotron">
    <h1>New to RandWatch?</h1>
    <p>Read below to see how it works.</p>
</div>
<div class="about">
    <h1>What is RandWatch?</h1>
    <p>How often do you decide to watch a movie and have no idea what to watch? RandWatch makes it easy! 
    At the click of a button, RandWatch will pick a movie (or television series, if you prefer) at random for you. 
    Don't like what it picked? Just click again!</p>
    <br>
    <h1>Getting Started:</h1>
    <p>To get started, you'll first need to sign up for an account. After you're logged in, click the "Search" button in the top menu. 
    Using this search bar, you will want to find and add all of the movies and shows you have access to (via ownership, netflix, hulu, etc.)
    and might want to watch to your list. If you can't find what you're looking for or want to add a home movie, click the "Create" button. 
    All you'll need to do is give it a title and an image URL you will want paired with it.</p>
    <br>
    <h1>Viewing My List:</h1>
    <p>To view all of the movies and shows you have added to your list, simply click on your username in the top right corner. 
    Here, you can see what you have added and even remove movies and shows from your list. After you have added all your movies and shows, 
    they are saved with your username there to stay (unless, of course, you decide to remove them).</p>
    <br>
    <h1>Choosing a Movie or Show:</h1>
    <p>Once you have all your movies and shows saved, click the "Choose!" button in the top menu. From here, 
    a random movie choice is all yours at the click of a button!</p>
</div>

<% include ./partials/footer %>