<% include ./partials/header %>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.js"
  integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="
  crossorigin="anonymous"></script>

<div class=jumbotron>
    <h1>Click to choose a movie!</h1>
    <button class="btn btn-danger">Choose!</button>
</div>
<div class="chosen-movie">
    <div id="movie-title"></div>
    <div id="movie-poster"></div>
</div>

<script type="text/javascript" src="/scripts/choose.js"></script>
<% include ./partials/footer %>