<% include ./partials/header %>

<div class="jumbotron">
    <h1>Welcome to RandWatch!</h1>
    <p>This is a simple application to help you decide what to watch.</p>
    <a class="btn btn-danger" href="/login">Get Started!</a>
</div>

<% include ./partials/footer %>